apiVersion: apps/v1
kind: Deployment
metadata:
  name: customc2-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: customc2-server
  template:
    metadata:
      labels:
        app: customc2-server
    spec:
      containers:
        - name: server
          image: custom-c2-simulator:dev # hoặc registry của bạn
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: customc2-config
            - secretRef:
                name: customc2-secrets
          readinessProbe:
            httpGet:
              path: /api/v1/health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /api/v1/health
              port: 8000
            initialDelaySeconds: 30
            periodSeconds: 30
---
apiVersion: v1
kind: Service
metadata:
  name: customc2-server
spec:
  selector:
    app: customc2-server
  ports:
    - port: 80
      targetPort: 8000
