apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: customc2-minio-pvc
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 5Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: customc2-minio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: customc2-minio
  template:
    metadata:
      labels:
        app: customc2-minio
    spec:
      containers:
        - name: minio
          image: minio/minio
          args: ["server", "/data", "--console-address", ":9001"]
          env:
            - name: MINIO_ROOT_USER
              value: minio
            - name: MINIO_ROOT_PASSWORD
              value: minio123
          ports:
            - containerPort: 9000
            - containerPort: 9001
          volumeMounts:
            - name: data
              mountPath: /data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: customc2-minio-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: customc2-minio
spec:
  selector:
    app: customc2-minio
  ports:
    - port: 9000
      targetPort: 9000
      name: api
    - port: 9001
      targetPort: 9001
      name: console
