{% extends "base.html" %} {% block content %}
<h3>Overview</h3>
<div class="row g-3">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Agents</h5>
        <p class="display-6">{{ stats.agents }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Tasks</h5>
        <p class="display-6">{{ stats.tasks }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Files</h5>
        <p class="display-6">{{ stats.files }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
